@font-face {
  font-family: norseBold;
  src: url(./assets/fonts/Norse-Bold.otf);
  font-weight: bold;
}

body,
html {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Left container */
}
.container-fluid {
  min-height: 100vh;
}

.overallContainer {
  min-height: 100vh;
}

.odinBackground {
  height: 15vh;
  width: 41.6vw;
  top: 20vh;
}

.leftContainer {
  padding: 0px;
}

.odinHelmet {
  width: auto;
  height: 15vh;
}

/* .odinHelmet {
  height: 14vh;
  width: auto;
  position: relative;
  left: 12vw;
} */

.odinText {
  font-family: norseBold;
  font-size: 10vh;
  color: white;
  bottom: 15vh;
  margin: 0px;
}
* .odinBackgroundImage {
  height: 100vh;
}

/* Right container */
.headContainer {
  position: relative;
  padding-top: 15vh;
}

.headText {
  font-weight: bolder;
  max-height: 10vh;
}

.midContainer {
  background-color: lightgrey;
}

input,
label {
  max-width: 20vw;
}
